.header__burger_menu {
  background-color: red;
  opacity: 0;
  visibility: hidden;
}

.header__burger_menu_isOpen {
  animation: showing 0.3s ease-out forwards;
}

@keyframes showing {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
  }
  50% {
    opacity: 0.3;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}
